body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #74cf68;
    color: #0e0b0b;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

h2 {
    color: #18a06c;
    text-align: center;
}

header {
    background-color: #0d6d2a;
    color: white;
    text-align: center;
    padding: 20px;
}

header nav a {
    color: rgb(218, 214, 214);
    margin: 0 8px;
    text-decoration: none;
    font-weight: bold;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.box {
    background-color: #e9f2f9;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.box-equipe {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #eee;
}

#inicio img {
    max-width: 100%;
    width: 350px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.box-equipe img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}


.box-equipe a {
    display: inline-block;
    background-color: #415f1e;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background-color: #16e743;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}